.container {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #f7f9fb;
}

@media (max-width: 900px) {
  .container {
    padding: 0;
  }
}

h1 {
  color: #333;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 2.2rem;
  margin: 0;
  letter-spacing: -1px;
}
